/* GLOBAL THEME VARIABLES */
:root {
    --theme-primary: #2D2DD7;
    --theme-primary-light: #00D4FF;
    --theme-secondary: #ffd221;
    --theme-secondary-light: #fff3ca;
}

body, html {
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, var(--theme-primary) 0%, rgba(0,212,255,1) 100%);
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


