.stores-container {
  min-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.stores-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.local-stores {
  text-align: left;
}

.local-stores > h1 {
  padding-bottom: 1rem !important;
}

.flex-row {
  padding: 20px;
  display: flex;
}

.grocery-list {
  padding-left: 100px;
}

.pencil-icon {
  margin: 0 0 8px 10px;
}

.checkbox-wrapper {
  text-align: left;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.checkbox-wrapper > input {
  display: inline-grid;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
  background-color: #007bff;
}

.grocery-list-wrapper {
  overflow-y: scroll;
  margin-top: 25px;
  border: 1px solid black;
  padding: 5px 15px;
  height: 25rem;
}

.checkbox-wrapper > span {
  font-size: 17px;
  margin-left: 10px;
}
