.page-container {
    padding: 1em;
    width: 70%;
}

.meal-plan-tab {
    background-color: var(--theme-primary);
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.daily-meals-container {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.modal-section-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.modal-meal-cuisine {
    font-size: 25px;
    margin-bottom: 15px;
}

.center-content {
    justify-content: center;
}

.modal-dialog {
    min-width: 70%;
}

.meal-modal {
    padding: 30px 50px;
}

.modal-content {
    border-radius: 30px;
}

.heart-icon:hover {
    cursor: pointer;
}

.heart-selected {
    color: palevioletred;
}

.heart-unselected {
    color: lightgray;
}

.loading-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loading-text {
    text-align: center;
    font-size: 30px;
}

.loader-container {
    display: flex;
    justify-content: center;
}

/* W3 Schools */
.loader {
    border: 16px solid #f3f3f3;     /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* W3 Schools */

.meal-plan-separator {
    border-bottom: 3px solid black;
}
