.meal-display-container {
    font-size: 1.5rem;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.meal-display-text {
    margin-bottom: 3px;
    width: 20vw;
}

.meal-display-text-sm {
    font-size: 1.2rem;
}

.meal-display-nutrients-tbl {
    border: 2px solid black;
    width: 100%;
}

.meal-display-nutrients-tbl tr {
    border: 2px solid black;
}

.meal-display-icon {
    width: 25px !important;
    height: 25px !important;
}

.meal-time-icon {
    margin-right: 5px;
}

.meal-thumbs-icon {
    margin: 5px 25px;
}

.meal-thumbs-icon:hover {
    cursor: pointer;
}

.thumbs-selected {
    color: #ffd221;
}

.thumbs-unselected {
    color: gray;
}

.thumbs-container {
    display: flex;
    justify-content: center;
}