#nav-bar {
    height: 7em;
    padding: 0 5em 0 5em !important;
}

#app-title {
    padding-left: 0.7em;
    vertical-align: middle;
}

#nav-links {
    margin-right: 2em;
}

.nav-link {
    margin-right: 1em;
    font-size: 1.3em;
    color: var(--theme-secondary) !important;
}

.navbar-brand {
    font-size: 2em !important;
}
